/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.center_cont {
  width: 75vw;
  margin: 0 auto;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5 {
  line-height: 300%;
}

p {
  font-size: 0.8em;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.centravert {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}


/* BLOCCO HEADER */

#nav1 {
  height: 30px;
  background-color: #33475B;
  color: #fff;
}

#nav1 img {
  height: 30px;
}

.nav1menusx img, .nav1menusx p {
  float: left;
  line-height: 30px;
  padding-right: 10px;
}

.nav1menudx img, .nav1menudx p {
  float: left;
  line-height: 30px;
  padding-left: 10px;
}


#nav2 {
  height: 40px;
  background-color: #E2E2E2;
}

#nav3 {
  height: 40px;
  background-color: #fff;
}


/* BLOCCO SECTION 1 */

.sec1 {
  background-image: url("immagini/intro.png");
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec1 button {
  background-color: #F5F8FA;
  font-weight: bold;
  padding: 15px 25px;
  color: #000;
  margin-bottom: 20px;
}




/* BLOCCO SECTION 2 */

.sec2 {
  background-color: #F5F8FA;
  padding-top: 20px;
}

.sec2 img {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.powerful {
  text-align: center;
  padding-bottom: 15px;
}




/* BLOCCO SECTION 3 */

.sec3 {
  background-color: #F5F8FA;
}

.freehubimg {
  width: 35%;
  height: 300px;
  float: left;
  background-color: #fff;
  position: relative;
}

.freehubimg img {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.freehubimg button {
  background-color: #FF7A59;
  font-weight: bold;
  padding: 15px 25px;
  color: #fff;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.freehubtext {
  width: 65%;
  height: 300px;
  float: left;
  background-color: #fff;
  position: relative;
}

.freehubtext img, .freehubtext li, .freehubtext p {
  float: left;
  list-style-type: none;
}

.freehubtext ul p {
  line-height: 30px;
}

.hub1, .hub2, .hub3 {
  float: left;
  width: 30%;
  margin: 10px calc(10% / 6);
  background-color: #fff;
}

.hub0 button {
  background-color: #FF7A59;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 10px;
  color: #fff;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.hub0 img {
  height: 100px;
  position: relative;
  padding-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.hub0 h5 {
  text-align: center;
}

.hubul img {
  height: 35px;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  transform: translate(0%, +50%);
}

.hubul li {
  list-style-type: none;
  padding: 0;
}

.hubul p {
  display: inline-block;
  line-height: 35px;
  padding-left: 10px;
}


/* BLOCCO SECTION 4 */

.sec4 {
  background-color: #00B7AA;
}

.learn0 h2, .learn0 h5 {
  text-align: center;
  color: #fff;
  line-height: 150%;
  padding-top: 30px;
}

.learntable {
  padding-top: 30px;
  text-align: center;
}

.learntable h2, .learntable p {
  line-height: 150%;
  color: #fff;
}

.learntable img {
  width: 30%;
  /* position: relative;
  left: 50%;
  transform: translate(-50%, 0); */
}

.learnriga1, .learnriga2 {
  height: 150px;
}

.learnriga1 .learn1 {
  float: left;
  width: 25%;
}

.learnriga2 .learn1 {
  float: left;
  width: 25%;
  border-top: solid 1px black;
  padding: 40px 0;
}





.sec5, .sec6 {
  height: 100px;
  background-color: red;
  border: 1px solid;
}
