* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center_cont {
  width: 75vw;
  margin: 0 auto;
}

#nav1 {
  height: 30px;
  background-color: #33475B;
}

#nav2 {
  height: 40px;
  background-color: #E2E2E2;
}

#nav3 {
  height: 40px;
  background-color: #fff;
}

.sec1 img {
  width: 100%;
  background-size: contain;
}
